:root {
    --colorOne: #141414;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;

    --tileBorderRadius: 4px;

    --fontOne: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

.bg {
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    z-index: -1;
}

.logo {
    position: relative;
    width: 100px;
}

.filmname {
    position: relative;
    max-width:30%;
    top: 2rem;
    left: 1rem;

}

/* @media(max-width : 480px) {
    .filmname {
        max-width:30%
    }
} */

.nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    background: linear-gradient(black, transparent);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav_black {
    background-color: black;
}

.ul {
    display: flex;
    color: aliceblue;
    list-style: none;
    justify-content: space-between;
    width: 100%
}
.fa-bars{
    display: none;
}
.menu{
    width:37%;
    display: flex;
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}
@media(max-width:1080px){
    .ul {
        visibility: hidden;
    }
    .fa-bars{
        display: block;
    }
    .right {
        width:50%
    }
}
.nav_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.white {
    color: white;
    font-size: larger
}

.ul a {
    text-decoration: none;
    color: inherit;

    font-family: 'Open Sans', sans-serif;
}

.active {
    font-weight: 600;
}



.ul2 {
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.dropdown {
    width: 200px;
    height: 350px;
    position: absolute;
    background-color: black;
    right: 10px;
    top: 75px;
}

.d-none {
    display: none !important;
}

.dropdown_btn {
    background-color: transparent;
    border-style: none;

}

.dropdown_btn:hover {
    cursor: pointer;
}

.movie {
    margin-top: 3rem;
    position: relative;
    margin-left: 10px;
    color: aliceblue;
    font-size:5vw;
}

.about_movie {
    position: relative;
    margin-top: .1rem;
    margin-left: 1rem;
    color: aliceblue;
    font-size: 3vw;
}

.des {}

.buttons {
    position: relative;
    margin-left: 4%;
    display: flex;
    width: 300px;
    height: 50px;
}

.but2 {
    margin-left: 20px;
    border-radius: 5px;
    width: 167px;
    border-style: none;
    background-color: rgb(158, 161, 163);
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    height: 40px;

}

.but1 {
    display: flex;
    align-items: center;

    border-radius: 5px;
    width: 100px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    background-color: aliceblue;
    color: black;
    justify-content: space-around;
    height: 40px;

}

.pop {
    color: aliceblue;


    margin-left: 20px;
    z-index: 100;
}

.icons {
    color: aliceblue;
    display: flex;
    margin-top: 10px;
}

.card {
    width: 20%;

    border-radius: 3px;
    position: relative;
    margin-bottom: 50px;
}

.filmcard {
    display: flex;

    z-index: 100;
    width: 100%;
    overflow-x: scroll;




}


.filmcard::-webkit-scrollbar {
    display: none;
}

.filmcard img {
    margin-left: 10px;
}

.first {
    margin-top: 100px;
}

.scroll {


    height: 60px;

    background-color: rgb(62, 3, 3);
    border: none !important;
    color: white !important;

}

.right-scroll {
    right: 0
}

.left-scroll {
    left: 0;
}

.navigation {
    width: 100%;
    position: relative;
    z-index: 111;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;

}

.foot_icons {
    color: antiquewhite;
    margin-left: 30%;
    width: 50px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;

}

.footer {
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    margin-left: 30%;
    width: 50px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}


.fa-brands fa-instagram {
    margin-left: 40px;
}


.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
    overflow: hidden;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.thumbTiles .swiper-button-prev {
    left: 0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
    right: 0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

@media screen and (min-width: 640px) {

    .thumbTiles .swiper-button-prev::after,
    .thumbTiles .swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .thumbTiles .swiper-button-prev:hover::after,
    .thumbTiles .swiper-button-next:hover::after {
        transform: scale(1.25);
    }

    .thumbTiles:hover .swiper-button-prev::after,
    .thumbTiles:hover .swiper-button-next::after {
        display: block;
    }

}